.Header {
    position: fixed;
    width: 100%;
    padding: 16px 24px;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
    background: white;
    border-bottom: 1px solid #EEEEEE;
}

.HeaderGroup {
    /*display: grid;*/
    /*gap: 48px;*/
    /*grid-template-columns: 1fr auto;*/
    display: flex;
    align-items: center;
}

.HeaderGroup h2 {
    color: white;
    margin-bottom: 0;
}

.HeaderScrolled .HeaderGroup h2 {
    color: black;
    margin-bottom: 0;
}

.Header a {
    color: white;
}

.Header button {
    padding: 8px 20px;
    font-size: 20px;
    background: #56CCF2;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
    transform: translateY(-3px);
}

/*@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat(4, auto);
    }

    .Header a:nth-child(4) {
        display: none;
    }
}*/